/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* bố cục web */
.container {
    width: 80%;
    margin: auto;
}

/* filter */
.filter-condition{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}

.filter-condition select {
    margin: 0px 20px;
    padding: 8px 0;
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 5px;    
    width: 150px; 
    outline: none; 
    text-align: center;
    cursor: pointer;
}


.filter-condition select:hover {
    border-color: #666; 
}

/* product */
.catalogue{
    padding: 50px 50px 0;
    background-color: #1b8fbc;
    border-radius: 20px;
}

.item {
    width: 100;
}

.list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
}

a.detail {
    text-decoration: none;
}

.item .img img{
    height: 200px;
    width: 200px;
    transition: 0.5s;
    border-radius: 40px;
}
.item .img{
    background-color: rgb(51, 0, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.item .content{
    background-color: #ffffff24;
    border-radius: 30px;
    padding:50px 30px;
    transform: translate(0,-50px);
    backdrop-filter: blur(20px);
}
.title{
    display: flex;
    font-size: 20px;
    padding: 10px 0;
    height: 70px;
    color: #000;
    font-weight: bold;
    align-items: center;
    justify-content: center;

    text-align: center; 
}

.item .content .price{
    font-size: large;
    letter-spacing: 3px;
    margin-bottom:10px;
    color: red;
    font-weight: bolder;
    text-align: center; 
    padding-bottom: 10px;
}
.item .content .add{
    background-color: #08d6ff;
    padding:20px;
    color:#fff;
    width:100%;
    border:none;
    border-radius: 30px;
    cursor: pointer;
}
.item:hover img{
    transform: translate(0,-60px);
}

/* pagination */
.listPage{
    padding: 10px;
    text-align: center;
    list-style: none;
}
.listPage li {
    width: 35px;
    height: 35px;
    font-size: 20px;
    background-color: #000000bd;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%; 
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    text-align: center; 
    line-height: 35px; 
    color: white; 
}

.listPage .active{
    background-color: #5500ff;
    color:#fff;
}

/* Reponsive */

/* Mobile */
@media (max-width: 739px) {

    .list{
        grid-template-columns: repeat(1, 1fr);
    }

    .item .img img{
        width: 50%;
        height: 50%;
    }

    .catalogue {
        padding: 0;
    }
}

      






