@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Roboto;
    height: 100%;
}
.hide {
    display: none;
}
.head-nav li:hover {
    background-color: #ffffff;
}
.head-nav li:hover:before {
    background-color: #ffffff;
}
.head-nav li:hover svg {
    background: #ffffff;
    fill: #81ecec;
}
.head-nav li:hover a {
    color: #000000;
}
.head-nav li:before {
    position: absolute;
    left: -0.925rem;
    top: 0;
    width: 0.925rem;
    height: 100%;
    content: "";
    background: #81ecec;
    z-index: 1;
    transition: background 400ms;
}
.head-nav ul {
    margin-top: 1.85rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;
}
.head-nav li {
    position: relative;
    clear: both;
    width: 100%;
    padding: 0;
    transition: background 400ms;
}
.head-nav li a {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
/*.keycap {
	position: absolute;
}*/
.head-nav a {
    align-items: center;
    width: 100%;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    transition: color 400ms;
}
.head-nav a span {
    position: relative;
    display: block;
    z-index: 0;
    font-family: Roboto;
    text-indent: -20em;
    white-space: nowrap;
    transition: text-indent 400ms ease-in-out;
}
.head-nav svg {
    position: relative;
    max-width: 80px;
    max-height: 30px;
    z-index: 1;
    fill: #fefefe;
    background: #81ecec;
    transition: 400ms;
}
@media screen and (max: 768px) {
    .head-nav ul {
        margin-top: 0.23125rem;
    }
    .head-nav svg {
        max-width: 20px;
    }
}
.main-head {
    position: fixed;
    bottom: 0;
    width: 83px;
    height: 100%;
    z-index: 1;
    background: #81ecec;
    transition: width 400ms;
}
.main-head:hover {
    width: 350px;
}
.main-head:hover + .wrap-all-the-things {
    transform: translateX(336px);
    max-width: 100%;
    opacity: 0.4;
}
.main-head:hover .head-nav li:nth-of-type(1) span {
    transition-delay: 100ms;
}
.main-head:hover .head-nav li:nth-of-type(2) span {
    transition-delay: 200ms;
}
.main-head:hover .head-nav li:nth-of-type(3) span {
    transition-delay: 300ms;
}
.main-head:hover .head-nav li:nth-of-type(4) span {
    transition-delay: 400ms;
}
.main-head:hover .head-nav li:nth-of-type(5) span {
    transition-delay: 500ms;
}
.main-head:hover .head-nav li:nth-of-type(6) span {
    transition-delay: 600ms;
}
.main-head:hover .head-nav span {
    text-indent: 0;
}
@media screen and (max: 768px) {
    .main-head {
        width: 70px;
        padding: 0 0.925rem;
    }
    .main-head .head-nav {
        padding-left: 7px;
    }
    .main-head:hover .head-nav span {
        text-indent: 1em;
    }
}
.wrap-all-the-things {
    min-height: 100%;
    height: 100%;
    /*background-color: #dcdde1;*/
    margin-top: 0;
    background-size: cover;
    background-position: center center;
    transition: transform 400ms, opacity 400ms;
}
@media screen and (max: 480px) {
    .wrap-all-the-things {
        padding-left: 70px;
    }
}
.list-unstyled a {
    color: #000;
    text-decoration: none;
}


.container {
    width: 80%;
    margin: auto;
    padding-left: 0;
  }
  
  /* Menu đầu */
  .header1 {
    background-color: #747d8c;
    align-items: center;
    font-size: 16px;
    align-items: center;
    height: 2.5rem;
    }
  
  .header1 a {
    color: white;
    text-decoration: none;    
  }
  
  /* định hình vị trí */
  .nav-bar {
    display: flex;    
  }
  
  .right-navbar {
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }
  
  
  .left-navbar {
    display: flex;
    width: 60%;
    justify-content: space-between;
    
  }
  
  .left-item {
    position: relative;
  }
  
  .right-navbar,
  .left-item {
    line-height: 2.5rem;
  }
  
  .right-navbar p{
  margin: 0 5px;
  color: #fff;
  }
  
  /* css 2 nút đầu */
  .left-item-btn a{
    background: #81ecec;   
    border-radius: 30px;
    padding: 4px 10px;
    color: #005F44;
  }
  
  /* tạo menu c2 */
  .left-item:hover {
    display: block;
  }
  
  .left-item:hover>.subnav {
    display: block;
  }
  
  /* css menu c2 */
  .subnav {    
    top: 100%;
    display: none;
    position: absolute;
    width: 700px ;
    color: #000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
  }
  
  /* css item menu c2 */
  .sub-item-hl {
    color: #ffffff;
    background-color: #005F44;
    padding: 3px 6px;
    border-radius: 15px;
  }
  
  .subnav ul li {
    list-style-type: none;
    margin: 15px 25px;
  }
  
  
  
  /* css menu c2 của nút 2 */
  .subnav2{
    margin-left:-165px ;
  }
  
  /* reset css thẻ a mess */
  .left-item-btn a.mess {
    background: none;
    color: #000;
    line-height: normal;
    padding: 0 0;
  }
  
  /* Phần dưới menu (logo, thanh search, giỏ,...) */
  
  .header2 {
    background-color: #fff;
    height: 120px;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    width: 20%;
    justify-content: flex-start;
    height: 100px;
    margin: 10px;
  }
  
  .search {
    display: flex;
    width: 35%;
    justify-content: center;
    height: 42px;
    border-radius: 10px;
    padding: 0 8px;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
  }
  
  .search button {
    height: 42px;
    width: 10%;
    background-color: white;
    border: 0;
  }
  
  .search i {
    font-size: 20px;
  }
  
  .search input {
    width: 90%;
    border: 0;
  }
  
  .search input[type="text"]:focus-visible {
    outline: none;
  }
  
  .cart {
    display: flex;
    width: 42%;
    justify-content: flex-end;
  }
  
  .cart a {  
    text-decoration: none;
    line-height: 42px;
    font-family: 'Mulish',sans-serif;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 0 0 1px #81ecec;
    border-radius: 10px;
    width: 147px;
    line-height: 42px;
    text-align: center;
  }
  
  .cart a i {
    font-size: 30px;
    vertical-align: middle;
  }

.carousel-item {
  height: 700px;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}


