/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* bố cục web */
.container {
    width: 80%;
    margin: auto;
}

/* Menu đầu */
.header {
    background-color: black;
    align-items: center;
    font-size: 16px;
    align-items: center;
    height: 2.5rem;
    }

.header a {
    color: white;
    text-decoration: none;    
}

/* định hình vị trí */
.nav-bar {
    display: flex;    
}

.right-navbar {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}


.left-navbar {
    display: flex;
    width: 60%;
    justify-content: space-between;
    
}

.left-item {
    position: relative;
}

.right-navbar,
.left-item {
    line-height: 2.5rem;
}

.right-navbar p{
margin: 0 5px;
color: #fff;
}

/* css 2 nút đầu */
.left-item-btn a{
    background: linear-gradient(270deg,#CFEAC1 2.54%,#D4EE8C 86.96%);   
    border-radius: 30px;
    padding: 4px 10px;
    color: #005F44;
}

/* tạo menu c2 */
.left-item:hover {
    display: block;
}

.left-item:hover>.subnav {
    display: block;
}

/* css menu c2 */
.subnav {    
    top: 100%;
    display: none;
    position: absolute;
    width: 650px ;
    color: #000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
}

/* css item menu c2 */
.sub-item-hl {
    color: #ffffff;
    background-color: #005F44;
    padding: 3px 6px;
    border-radius: 15px;
}

.subnav ul li {
    list-style-type: none;
    margin: 15px 25px;
}



/* css menu c2 của nút 2 */
.subnav2{
    margin-left:-165px ;
}

/* reset css thẻ a mess */
.left-item-btn a.mess {
    background: none;
    color: #000;
    line-height: normal;
    padding: 0 0;
}

/* Phần dưới menu (logo, thanh search, giỏ,...) */

.header2 {
    background-color: aqua;
    height: 120px;
}

.menu {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    width: 20%;
    justify-content: flex-start;
    height: 100px;
    margin: 10px;
}

.search {
    display: flex;
    width: 35%;
    justify-content: center;
    height: 42px;
    border-radius: 10px;
    padding: 0 8px;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
}

.search button {
    height: 42px;
    width: 10%;
    background-color: white;
    border: 0;
}

.search i {
    font-size: 20px;
}

.search input {
    width: 90%;
    border: 0;
}

.search input[type="text"]:focus-visible {
    outline: none;
}

.cart {
    display: flex;
    width: 42%;
    justify-content: flex-end;
}

.cart a {  
    text-decoration: none;
    line-height: 42px;
    font-family: 'Mulish',sans-serif;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 0 0 1px #29A07E;
    border-radius: 10px;
    width: 147px;
    line-height: 42px;
    text-align: center;
}

.cart a i {
    font-size: 30px;
    vertical-align: middle;
}